/* 
font-size: 11px; 
text-align: center;  
color: hsl(228, 45%, 44%);
*/

:root {
    /*variavel*/
    --text-color: hsl(228, 45%, 44%);
    --darkblue: hsl(218, 44%, 22%);
    --grayish-blue: hsl(220, 15%, 55%);
    --light-gray: hsl(212, 45%, 89%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    /* box-sizing com o valor border-box faz com que o navegador 
    não calcule a dimensão de um elemento somando bordas e 
    margens com altura e largura */
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Outfit', sem serifa;
}

.main {
    display: flex;
    margin: auto;
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--light-gray);
    justify-content: center;
    align-items: center;
}

.main-content{   
    display: flex;
    flex-direction: column; 
    background-color: var(--white);
    width: 27.5rem;
    height: 42.8rem;
    border-radius: 2rem;

}

.place-img{
    width: 100%;
    height:auto;
    padding: 1.35rem;

    
}

.place-img img {
    width: 100%;
    border-radius: 0.8rem;
    
}

.place-text {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica;
    text-align: center;
    padding: 0 2rem 0 2rem;
    word-spacing:0.22rem;
}

.place-text h1 {
    font-size: 1.85rem;
    line-height: 2.7rem;
}
.place-text p {
    color: var(--grayish-blue);
    padding: 1rem;
    font-size: 1.21rem;
    line-height: 1.8rem;
    
}
